<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392473610554-prul8pv81u5og2dnb90gk05c92sp8791.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392473610554-prul8pv81u5og2dnb90gk05c92sp8791</string>
	<key>API_KEY</key>
	<string>AIzaSyDVfCINuQj_G_aJD8tGYzwIw1AUEX9srNY</string>
	<key>GCM_SENDER_ID</key>
	<string>392473610554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TEST.InstagramCloneCoding</string>
	<key>PROJECT_ID</key>
	<string>instagram-c27f5</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-c27f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392473610554:ios:8184a5c13aa10dfa412803</string>
</dict>
</plist>